/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
  font-family: "Roboto", sans-serif;
}

.logo {
  width: 10%;
  height: auto;
  padding: 10px;
  margin-left: 15px;
}

.menu {
  width: 30%;
  margin: 0;
}

.menu ul li {
  list-style: none;
  display: inline;
  padding: 5px;
}

.menu ul li a {
  text-decoration: none;
  color: black;
}
nav {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.hero {
  background-image: url("../images/landing.jpg");

  width: 100vw;
  height: 85vh;

  background-size: cover;
  background-position: center;

  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero h1 {
  color: white;
  font-family: lighter;
  font-size: 60px;
  margin: 0;
}
.hero p {
  font-family: lighter;
  color: white;
  width: 38%;
  font-size: 18px;

  justify-content: center;
}

.whats {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.um img {
  width: 80px;
  height: auto;
  margin-bottom: 5px;
  padding-left: 40%;
  padding-right: 40%;
}

.um h2 {
  color: #13bf83;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.um p {
  text-align: center;
  width: 60%;
  text-align: center;
  margin-left: 20%;
}

.dois img {
  width: 80px;
  height: auto;
  margin-bottom: 5px;
  padding-left: 40%;
  padding-right: 40%;
}

.dois h2 {
  color: #13bf83;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.dois p {
  text-align: center;
  width: 60%;
  text-align: center;
  margin-left: 20%;
}

.tres img {
  width: 80px;
  height: auto;
  margin-bottom: 5px;
  padding-left: 40%;
  padding-right: 40%;
}

.tres h2 {
  color: #13bf83;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tres p {
  text-align: center;
  width: 60%;
  text-align: center;
  margin-left: 20%;
}

.option1 {
  display: flex;
  justify-content: space-evenly;
  height: 30vh;
}

.option2 {
  background-color: #1ab16a;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80vh;
}
.option2 h2 {
  margin-left: 10%;
  size: 25px;
  padding-bottom: 0;
}
.option2 h3,
hr,
p {
  margin-left: 10%;
  width: 25%;
}

.option2 hr {
  width: 25%;
  padding-top: 0;
  border: 1px solid;
  border-radius: 4px;
}

.option2 .spotfy1 {
  width: 100px;
  height: auto;
  margin-top: 20%;
}

.option2 .spotfy2 {
  width: 280px;
  height: auto;
  margin-top: 5%;
}
